<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-sm-2 mb-1">
      <div class="bg-black p-2">
        <div class="text-center">
          <label class="m-0" style="font-size: 1.1rem;">Agent Information</label>
          <hr style="border-color: rgb(49, 49, 49);">
        </div>
        <div class="row">
            <div class="col-sm"><button class="form_btn" (click)="profile == true">Profile</button></div>
        </div>
        <div class="row">
            <div class="col-sm"><button class="form_btn" (click)="downloadLog()">Log View</button></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="bg-black p-2">
        <div class="text-center" style="margin:20px;">
          {{ test }} <br>
          {{ test2 }}
        </div>
      </div>
    </div>
</div>