<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-sm-2 mb-1">
      <div class="bg-black p-2">
        <div class="text-center">
          <label class="m-0" style="font-size: 1.1rem;">Agent Information</label>
          <hr style="border-color: rgb(49, 49, 49);">
        </div>
        <div class="row">
            <div class="col-sm"><button class="form_btn" (click)="profile == true">Profile</button></div>
        </div>
        <div class="row">
            <div class="col-sm"><button class="form_btn" (click)="downloadLog()">Log View</button></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="bg-black p-2">
        <div style="margin:20px;">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">หัวข้อ</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">ชื่อ</th>
                <td>{{ user.titleName }}{{ user.firstName }} {{ user.lastName }}</td>
              </tr>
              <tr>
                <th scope="row">รหัสบัตรประชาชน</th>
                <td>{{ user.idcard }}</td>
              </tr>
              <tr>
                <th scope="row">เบอร์โทรศัพท์</th>
                <td>{{ user.telephone }}</td>
              </tr>
              <tr>
                <th scope="row">อีเมล</th>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <th scope="row">เครดิต</th>
                <td>{{ user.credit | number }}</td>
              </tr>
              <tr>
                <th scope="row">อัพเดทล่าสุด</th>
                <td>{{ user.updateDate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>