<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-2 mb-1">
      <mat-card class="hover mat-card">
        <mat-card-content>
          <div class="row">
            <div class="col-sm">
              <mat-form-field class="form-field">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input matInput type="text" [(ngModel)]="this.searchTxt">
                <button mat-button *ngIf="searchTxt" matSuffix mat-icon-button aria-label="Clear"
                  (click)="searchTxt=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm"><button class="form_btn" (click)="onSubmit()">ค้นหา</button></div>

          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-sm-8">
      <mat-card class="hover mat-card">
        <mat-card-content>
          <div *ngIf="!dataTbl && isShowList" class="table-responsive-sm">
            <table class="table table-hover table-striped table-dark" style="max-width: 100%;">
              <thead>
                <tr>
                  <th scope="col">รหัสบัตรประชาชน</th>
                  <th scope="col">ชื่อ-นามสกุล</th>
                  <th scope="col">เพศ</th>
                  <th scope="col">อายุ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList" style="cursor: pointer;" (click)="userInfo(data.IDCard)">
                  <th scope="row">{{data.IDCard}}</th>
                  <td>{{ data.CTitle }}{{ data.CFname }} {{ data.CLname }}</td>
                  <td>{{ data.Gender }}</td>
                  <td>{{ (data.BYear)?year - data.BYear:'-' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-tab-group *ngIf="dataTbl && showData">
            <mat-tab label="ข้อมูลทั่วไป">
              <div *ngIf="dataTbl && showData" class="table-responsive-sm">
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col" style="text-align: right;">หัวข้อ</th>
                      <th scope="col">รายละเอียด</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" style="text-align: right;">รหัสบัตรประชาชน</th>
                      <td style="text-align: left;">{{ personInfo.IDCard }}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">ชื่อ-นามสกุล</th>
                      <td style="text-align: left;">{{ personInfo.CTitle }}{{ personInfo.CFname }} {{ personInfo.CLname
                        }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">อายุ</th>
                      <td style="text-align: left;">{{ (personInfo.BYear) ? (year - personInfo.BYear) : '-' }} ปี</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">วัน/เดือน/ปี เกิด</th>
                      <td style="text-align: left;">{{ personInfo.DOB }}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">ที่อยู่</th>
                      <td style="text-align: left;">{{ (personInfo.HouseNo)?'บ้านเลขที่ : ' + personInfo.HouseNo:'' }}
                        {{
                        (personInfo.Moo)?'หมู่ : ' +
                        personInfo.Moo:'' }} {{ (personInfo.Trok)?'ตรอก : ' + personInfo.Trok:'' }}
                        {{ (personInfo.Soi)?'ซอย : ' + personInfo.Soi:'' }} {{ (personInfo.Street)?'ถนน : ' +
                        personInfo.Street:'' }} {{ (personInfo.Subdistrict)?'ตำบล : ' + personInfo.Subdistrict:'' }}
                        {{ (personInfo.District)?'อำเภอ : ' + personInfo.District:'' }} {{
                        (personInfo.Province)?'จังหวัด :
                        '
                        + personInfo.Province:'' }} {{ (personInfo.PostalCode)?'รหัสไปรษณีย์ : ' +
                        personInfo.PostalCode:''
                        }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">พาหนะ</th>
                      <td style="text-align: left;">{{ personInfo.CarList }}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">เบอร์ติดต่อ</th>
                      <td style="text-align: left;">เบอร์โทรศัพท์ : {{ (personInfo.MobilePhone)?personInfo.MobilePhone:''
                        }}<br>
                        เบอร์โทรศัพท์บ้าน : {{ (personInfo.HomePhone)?personInfo.HomePhone:'' }}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">เบอร์ติดต่ออื่น ๆ</th>
                      <td style="text-align: left;">เบอร์โทรศัพท์ : {{ (personInfo.MobilePhone2) ? personInfo.MobilePhone2 : '' }}
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">ระดับการศึกษา</th>
                      <td style="text-align: left;">{{
                        (personInfo.EducationLevelThaiDesc)?personInfo.EducationLevelThaiDesc:'' }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">อีเมล</th>
                      <td style="text-align: left;">{{ (personInfo.EMAIL)?personInfo.EMAIL:''}}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">ชื่อที่ทำงานปัจจุบัน</th>
                      <td style="text-align: left;">{{ personInfo.company }}</td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: right;">วันที่เริ่มงาน</th>
                      <td style="text-align: left;">{{ personInfo.emp_date }}</td>
                    </tr>
                    <!-- <tr>
                      <th scope="row" style="text-align: right;">ที่อยู่บริษัท</th>
                      <td style="text-align: left;">{{ workplace.address1 + workplace.address2 }}</td>
                    </tr> -->
                    <tr>
                      <td colspan="2" class="text-center"><button class="btn btn-warning"
                          (click)="back(1)">BACK</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
            <mat-tab *ngIf="user.accActive || user.authority == 'Admin'" label="Media">
              <mat-card class="example-card">
                <img src="data:image/png;base64,{{ this.personImage }}" alt="Red dot" />
              </mat-card>
            </mat-tab>
          </mat-tab-group>

          <div *ngIf="dataTblVehicle && !showData" class="table-responsive-sm">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">หัวข้อ</th>
                  <th scope="col">รายละเอียด</th>
                </tr>
              </thead>
              <tbody style="text-align: left;">
                <tr>
                  <th scope="row" style="text-align: right;">ประเภท</th>
                  <td>{{ vehicle.TYPE_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">สำนักงานขนส่ง</th>
                  <td>{{ vehicle.OFF_LOC_DESC }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">จังหวัด</th>
                  <td>{{ vehicle.OFF_PROV_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">วันที่จดทะเบียน - หมดอายุ</th>
                  <td>{{ (vehicle.REG_DATE)?(vehicle.REG_DATE | date: 'dd/MM/yyyy'):'' }} - {{ (vehicle.EXP_DATE) ?
                    (vehicle.EXP_DATE | date: 'dd/MM/yyyy') : '' }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">เลขทะเบียน</th>
                  <td>{{ vehicle.PLATE1 }}{{ vehicle.PLATE2 }} {{ vehicle.OFF_PROV_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">ยี่ห้อ</th>
                  <td>{{ vehicle.BRAND_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">เลขตัวถัง</th>
                  <td>{{ vehicle.NUM_BODY }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">เลขเครื่องยนต์</th>
                  <td>{{ vehicle.NUM_ENG }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">ประเภทน้ำมัน</th>
                  <td>{{ vehicle.FUEL_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">เครื่องยนต์ (CC)</th>
                  <td>{{ +vehicle.CC }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">น้ำหนักรถ</th>
                  <td>{{ +vehicle.WGT_CAR }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">สีรถ</th>
                  <td>{{ vehicle.COLOR1_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">ปีที่ผลิต</th>
                  <td>{{ vehicle.MFG_YEAR }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">ชื่อผู้ครอบครอง</th>
                  <td>{{ vehicle.JUT_TTL_D }}{{ vehicle.JUT_FNAME }} {{ vehicle.JUT_LNAME }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">ที่อยู่ผู้ครอบครอง</th>
                  <td>{{ vehicle.ACQ_ADDR }} {{ vehicle.ACQ_TUM_D }} {{ vehicle.ACQ_AMP_D }} {{ vehicle.ACQ_PRV_D }} {{
                    vehicle.ACQ_ZIP }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">หมายเลขบัตรประชาชน/ผู้เสียภาษี</th>
                  <td>{{ vehicle.ACQ_ID }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">สัญชาติผู้ครอบครอง</th>
                  <td>{{ vehicle.ACQ_NAT_D }}</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: right;">การชำระเงิน</th>
                  <td>{{ vehicle.Payment }}</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-center"><button class="btn btn-warning" (click)="back(2)">BACK</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>