<nav class="navbar fixed-top navbar-expand-lg top-menu">
  <a class="navbar-brand" href="#">CIA</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li *ngFor="let item of menu;">
              <div class="top_link nav-item {{ item.active }}" (click)="navigate(item.link)" style="color: #FFF;">{{ item.text }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </li>
      </ul>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
  Copyright &copy; Develope by Marvis
</div>



<!-- <router-outlet></router-outlet> -->