<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-2 mb-1">
            <mat-card class="hover mat-card">
                <mat-card-content>
                    <div class="text-center">
                        <label class="m-0" style="font-size: 1.1rem;">Company Search</label>
                        <hr style="border-color: rgb(49, 49, 49);">
                    </div>
                    <div class="row">
                        <div class="col-sm"><input [(ngModel)]="this.companyName" type="text" class="form_txt mb-2"
                                placeholder="ชื่อบริษัท / หมายเลขผู้เสียภาษี"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><input [(ngModel)]="this.capital1" type="tel" class="form_txt mb-2"
                                placeholder="ทุนจดทะเบียนเริ่มต้น"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><input [(ngModel)]="this.capital2" type="tel" class="form_txt mb-2"
                                placeholder="ทุนจดทะเบียนสิ้นสุด"></div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm"><input [(ngModel)]="this.searchTxt" type="text" class="form_txt mb-2"
                                placeholder="กำไรขาดทุน (2 ปีล่าสุด)"></div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm"><input [(ngModel)]="this.objective" type="text" class="form_txt mb-2"
                                placeholder="วัตถุประสงค์ของบริษัท"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group text-left mb-2"><label class="label-search">บริษัทในพื้นที่</label>
                          <select [(ngModel)]="province" class="form_select">
                            <option value=""></option>
                            <option *ngFor="let data of provinceList" value="{{ data.ProvinceThai }}">{{ data.ProvinceThai }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><button class="form_btn" (click)="onSubmit()">ค้นหา</button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card class="hover mat-card">
                <mat-card-content>
                    <div *ngIf="!dataTbl && isShowList" class="table-responsive-sm">
                        <table class="table table-hover table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">เลขประจำตัวผู้เสียภาษี</th>
                                    <th scope="col">ชื่อบริษัท</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of companyData" style="cursor: pointer;" (click)="companyInfo(data.companyCode)">
                                    <th scope="row">{{ data.companyCode }}</th>
                                    <td>{{ data.companyName }}</td>
                                    <td>{{ data.statusCompany }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="dataTbl" class="table-responsive-sm">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">หัวข้อ</th>
                                    <th scope="col">รายละเอียด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="text-align: right; min-width: 30%;">ชื่อบริษัท</th>
                                    <td>{{ dataValue.companyName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">หมายเลขผู้เสียภาษี</th>
                                    <td>{{ dataValue.companyCode }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">ประเภทบริษัท</th>
                                    <td>{{ dataValue.typeCompany }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">วันที่จดทะเบียน</th>
                                    <td>{{ dataValue.registerDate }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">รายละเอียดธุรกิจ</th>
                                    <td>{{ dataValue.objectivesRegistration }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">สถานะ</th>
                                    <td>{{ dataValue.statusCompany }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">ที่อยู่บริษัท</th>
                                    <td>{{ dataValue.address }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">ทุนจดทะเบียน</th>
                                    <td>{{ dataValue.registeredCapital }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">จำนวนพนักงาน</th>
                                    <td>{{ dataValue.originalRegistrationNumber }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">เบอร์โทรศัพท์</th>
                                    <td>{{ dataValue.phone }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">แฟ็กซ์</th>
                                    <td>{{ dataValue.fax }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">เว็บไซต์</th>
                                    <td>{{ dataValue.webSite }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">อีเมล</th>
                                    <td>{{ dataValue.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">Director</th>
                                    <td>{{ dataValue.bindingDirector }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: right;">Board of director</th>
                                    <td>{{ dataValue.boardOfDirectors }}</td>
                                </tr>
                                <tr>
                                  <td colspan="2" class="text-center"><button class="btn btn-warning" (click)="back(1)">BACK</button>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>