<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-sm-2 mb-1">
      <div class="bg-black p-2">
        <div class="text-center">
          <label class="m-0" style="font-size: 1.1rem;">Company Search</label>
          <hr style="border-color: rgb(49, 49, 49);">
        </div>
        <div class="row">
          <div class="col-sm"><input [(ngModel)]="this.searchTxt" type="text" class="form_txt mb-2" placeholder="ชื่อบริษัท / หมายเลขผู้เสียภาษี"></div>
        </div>
        <div class="row">
          <div class="col-sm"><button class="form_btn" (click)="onSubmit()">ค้นหา</button></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="bg-black p-2">
        <div style="margin:20px;">
            <div *ngIf="!dataTbl" class="table-responsive-sm">
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">เลขประจำตัวผู้เสียภาษี</th>
                      <th scope="col">ชื่อบริษัท</th>
                      <th scope="col">จังหวัด</th>
                      <th scope="col">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of companyData">
                      <th scope="row">{{ data.comp_id }}</th>
                      <td>{{ data.comp_name }}</td>
                      <td>{{ data.comp_address4 }}</td>
                      <td><button type="button" class="btn btn-warning" (click)="companyInfo(data.comp_id)">Detail</button></td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div *ngIf="dataTbl" class="table-responsive-sm">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">หัวข้อ</th>
                            <th scope="col">รายละเอียด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="text-align: right;">ชื่อบริษัท</th>
                            <td>{{ dataValue.comp_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">หมายเลขผู้เสียภาษี</th>
                            <td>{{ dataValue.comp_id }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">ประเภทบริษัท</th>
                            <td>{{ dataValue.type_comp }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">วันที่จดทะเบียน</th>
                            <td>{{ dataValue.regist_date }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">รายละเอียดธุรกิจ</th>
                            <td>{{ dataValue.object_detail }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">สถานะ</th>
                            <td>{{ dataValue.status_comp }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">บอร์ดบริหารอื่นๆ</th>
                            <td><span *ngIf="dataValue.board_action_1th">{{ dataValue.board_action_1th }} <br></span>
                                <span *ngIf="dataValue.board1">{{ dataValue.board1 }} <br></span>
                                <span *ngIf="dataValue.board2">{{ dataValue.board2 }} <br></span>
                                <span *ngIf="dataValue.board3">{{ dataValue.board3 }} <br></span>
                                <span *ngIf="dataValue.board4">{{ dataValue.board4 }} <br></span>
                                <span *ngIf="dataValue.board5">{{ dataValue.board5 }} <br></span>
                                <span *ngIf="dataValue.board6">{{ dataValue.board6 }} <br></span>
                                <span *ngIf="dataValue.board7">{{ dataValue.board7 }} <br></span>
                                <span *ngIf="dataValue.board8">{{ dataValue.board8 }} <br></span>
                                <span *ngIf="dataValue.board9">{{ dataValue.board9 }} <br></span>
                                <span *ngIf="dataValue.board10">{{ dataValue.board10 }} <br></span>
                                <span *ngIf="dataValue.board11">{{ dataValue.board11 }} <br></span>
                                <span *ngIf="dataValue.board12">{{ dataValue.board12 }} <br></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">ทุนจดทะเบียน</th>
                            <td>{{ dataValue.capital | number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">ที่ตั้งบริษัท</th>
                            <td>{{ dataValue.comp_address }} {{ dataValue.comp_address1 }} {{ dataValue.comp_address2 }} {{ dataValue.comp_address3 }} {{ dataValue.comp_address4 }} {{ dataValue.post_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">ปีที่ส่งงบ</th>
                            <td>{{ dataValue.send_money }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">เบอร์โทรศัพท์</th>
                            <td>{{ dataValue.t_tel1 }} {{ dataValue.t_tel2 }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">แฟกซ์</th>
                            <td>{{ dataValue.t_fax1 }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">อีเมล</th>
                            <td>{{ dataValue.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">เว็บไซต์</th>
                            <td>{{ dataValue.web }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">จำนวนพนักงาน</th>
                            <td>{{ dataValue.employee }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">งบปี</th>
                            <td>{{ dataValue.m_money_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">สินทรัพย์</th>
                            <td>{{ dataValue.m_money_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">หนี้สิน</th>
                            <td>{{ dataValue.m_debt | number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">รายได้</th>
                            <td>{{ dataValue.m_revenue | number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">รายจ่าย</th>
                            <td>{{ dataValue.m_expenditure | number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">กำไร</th>
                            <td>{{ dataValue.m_profit | number }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: right;">วันที่อัพเดท</th>
                            <td>{{ dataValue.updatetime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
</div>