<div class="row" style="margin-top: 50px;">
  <div class="col-lg-3 mt-3">
    <div class="bg-black p-2">
      <div class="text-center">
        <label class="m-0" style="font-size: 1.1rem;">Search Tools</label>
        <hr style="border-color: rgb(49, 49, 49);">
        <input [(ngModel)]="this.searchTxt" type="text" class="form_txt mb-2" placeholder="ชื่อ-นามสกุล/บัตรประชาชน">
        <button class="form_btn" (click)="onSubmit()">ค้นหา</button>
      </div>
    </div>
  </div>
  <div class="col-lg-9 mt-3">
    <div class="bg-black p-2">
    </div>
  </div>
</div>