<loading [enable]="isLoading"></loading>

<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-sm-2">
      <div class="bg-black p-2">
        <div class="text-center">
          <label class="m-0" style="font-size: 1.1rem;">Agent Information</label>
          <hr style="border-color: rgb(49, 49, 49);">
        </div>
        <div class="row">
          <div class="col-sm">Email: {{ user.email }}</div>
        </div>
        <div class="row">
          <div class="col-sm">Name: {{ user.title }}{{ user.firstName }} {{ user.lastName }}</div>
        </div>
        <div class="row">
          <div class="col-sm">Phone: {{ user.telephone }}</div>
        </div>
        <div class="row">
          <div class="col-sm">Credit: {{ user.credit | number }}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="bg-black p-2">
        <div class="text-center" style="margin:20px;">
          Please select menu
        </div>
      </div>
    </div>
</div>